<div class="section" style="padding: 2rem;">
  <div class="container" style="max-width: 600px; margin: auto;">
    <h1 class="title" style="text-align: center; margin-bottom: 2rem;">Password Generator</h1>
    
    <div class="field">
      <label class="label" style="margin-bottom: 0.5rem;">Enter Length</label>
      <div class="control">
        <input class="input" (input)="onUpdateLength($event)" type="number" style="width: 100%;" />
      </div>
    </div>
    
    <div class="field">
      <div class="control">
        <label class="custom-checkbox">
          <input (change)="onChangeUseAlphabets()" type="checkbox" />
          <span class="checkmark"></span>
          Add Alphabets
        </label>
      </div>
    </div>
    
    <div class="field">
      <div class="control">
        <label class="custom-checkbox">
          <input (change)="onChangeUseNumbers()" type="checkbox" />
          <span class="checkmark"></span>
          Add Numbers
        </label>
      </div>
    </div>
    
    <div class="field">
      <div class="control">
        <label class="custom-checkbox">
          <input (change)="onChangeUseSpecialCharacters()" type="checkbox" />
          <span class="checkmark"></span>
          Add Special Characters
        </label>
      </div>
    </div>
    
    <div class="field">
      <div class="control" style="text-align: center; margin-top: 1.5rem;">
        <button class="button is-primary" 
                [disabled]="!(length && (includeAlphabets || includeNumbers || includeSpecialCharacters))" 
                (click)="onButtonClick()">Generate</button>
      </div>
    </div>
    
    <div class="field" style="margin-top: 2rem;">
      <label class="label">Your Generated Password</label>
      <div class="control">
        <input class="input" [value]="password" readonly style="width: 100%;" />
      </div>
    </div>
  </div>
</div>
